language: node_js
node_js:
  - 'node'
cache: yarn
script:
  - yarn
  - yarn build
branches:
  only:
    - dev
deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  keep-history: true
  local-dir: dist
  target-branch: master
  on:
    branch: dev
